{% extends 'base.html' %}

{% block start %}
<nav>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
</nav>
<h1>This is home page of my Django Project</h1>
<p>Welcome to the home page of my Django project. This is where you can find the latest updates and information.</p>
<hr>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quas est nihil a magni blanditiis maiores, placeat beatae, itaque veritatis repellat? Mollitia cum aut praesentium libero accusantium harum eveniet dolores.</p>

{% endblock start%}


{% block down %}
<div>HELLO! THIS IS INDEX DOWN END-BLOCK</div>
{% endblock down %}