{% extends 'base.html' %}

{% block start %}

<div class="container">
    <h2>Send Email</h2>
    <a href="{% url 'Send_a_email' %}" class="btn btn-primary" >Click</a>
</div>

<br>
<nav>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <a href="/login/">login</a>
</nav>
<h1>This is home page of my Django Project</h1>
<p>Welcome to the home page of my Django project. This is where you can find the latest updates and information.</p>
<hr>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo quas est nihil a magni blanditiis maiores, placeat beatae, itaque veritatis repellat? Mollitia cum aut praesentium libero accusantium harum eveniet dolores.</p>

{% endblock start%}


{% block down %}
<div>HELLO! THIS IS INDEX DOWN END-BLOCK</div>
{% endblock down %}